<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../google-signin/google-signin.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../google-apis/google-apis.html">
<link rel="import" href="../google-apis/google-plusone-api.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../geosource-services/user-service.html">
<link rel="import" href="../geosource-account-creator/geosource-account-creator.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<polymer-element name="geosource-account" attributes="user posts">

  <template>
    
    <style>
      :host {
        display: block;
        position: relative;
        background-color: white;
        width: 100%;
        font-weight: 300;
      }
      #toggle_label {
        margin: 15px;
        margin-left: 0;
      }
      core-submenu {
        padding: 10px;
      }
      core-submenu::shadow #submenu {
        margin: 0;
      }
      google-signin {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #dropdown {
        position: absolute;
        top: 3px;
        right: 3px;
        color: #636363;
      }
      #greeting {
        margin: 8px;
      }
    </style>

    <user-service id="user_service" user="{{user}}" gid="{{gid}}" on-core-error="{{userError}}" on-user-loaded="{{userLoaded}}"></user-service>

    <paper-dialog id="create_dialog" role="dialog" backdrop autoclosedisabled>
      <geosource-account-creator on-finished="{{closeDialog}}" user="{{user}}" gid="{{gid}}"></geosource-account-creator>
    </paper-dialog>

    <paper-toast id="toast" text="An error occured attempting to retrieve user data"></paper-toast>

    <core-submenu opened active id="core_submenu" icon="account-circle" label="Account">
      <google-signin theme="light" flex
        clientId="1076032317176-qkd5a832pq3rgaioamlhf93qlqo20k5f.apps.googleusercontent.com" 
        scopes="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
        width="wide"
        on-google-signin-success="{{signIn}}"
        on-google-signed-out="{{signOut}}">
      </google-signin>
      <div id="greeting" hidden?="{{!user}}">Hello, {{user.username}}</div>
    </core-submenu>

  </template>

  <script>
    Polymer({

      user: null,
      
      id_token: null,
      access_token: null,

      signIn: function(event, details, sender) {
        console.log('signed in');
        console.log(details);

        // var geosource_account = this;
        // var user_service = this.$.user_service;

        this.id_token = details.result.id_token;
        this.access_token = details.result.access_token;

        this.$.user_service.load(this.id_token);

        // details.gapi.client.load('plus', 'v1', function() {
        //   var request = gapi.client.plus.people.get({userId: 'me'});

        //   request.execute(function(resp) {
        //     console.log(resp);
        //     console.log(user_service);
        //     user_service.load(resp.id);
        //     geosource_account.fire('filter-change');
        //   });
        // });
      },

      signOut: function() {
        console.log('signed out');
        this.user = null;
      },

      openDialog: function() {
        this.$.create_dialog.open();
      },

      closeDialog: function() {
        this.$.create_dialog.close();
      },

      userError: function() {
        console.log("opened toast");
        this.$.toast.show();
      },

      userLoaded: function() {
        if(!this.user) {
          this.openDialog();
        }
        else {
          console.log(this.posts);
          console.log(this.user.favorites);
          for(i=0; i<this.user.favorites.length; i++) {
            for(j=0; j<this.posts.length; j++) {
              if(this.user.favorites[i].pid == this.posts[j].pid
                  && this.user.favorites[i].channel.name == this.posts[j].channel.name
                  && this.user.favorites[i].channel.owner == this.posts[j].channel.owner) {
                this.posts[j].favorite = true;
                break;
              }
            }
          }
        }
      },

    });
  </script>

</polymer-element>
