<template id="disqus">
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</template>
<script type="text/javascript">
(function(){
  var importDoc = document.currentScript.ownerDocument;
  var Disqus = Object.create(HTMLElement.prototype);

  Disqus.attachedCallback = function (){
    var shortname = "";

    if(this.attributes.shortname){
      shortname = this.attributes.shortname.value;
    }

    var t = importDoc.querySelector('#disqus')
    var clone = document.importNode(t.content, true);

    this.appendChild(clone);

    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

  };

  var gravatar = document.registerElement('disqus-thread', {
    prototype: Disqus
  });
})();
</script>
