.DS_Store
/HoopSnake-Geosource/build/
/HoopSnake-Geosource/dist/
/HoopSnake-Geosource/nbproject/private/
/media/
Geosource-Android/.idea/.name
Geosource-Android/.idea/gradle.xml
Geosource-Android/.idea/misc.xml
Geosource-Android/app/app.iml
