<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-dropdown/paper-dropdown.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../core-icon/core-icon.html" >
<link rel="import" href="../core-icons/core-icons.html" >
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<link rel="import" href="../core-icons/image-icons.html">
<link rel="import" href="../core-icons/av-icons.html">

<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">

<polymer-element name="geosource-channel-creator" attributes="channels subscribed">


  <template>

    <style>

      .header {
        background-color: #5CC0A2;
        margin: 0;
        padding: 20px;
        font-size: 1.8em;
        font-weight: 300;
        margin-bottom: 10px;
        color: #FFFFFF;
      }

      .content {
        padding: 20px;
      }

      .footer {
        padding: 20px;
        padding-top: 0;
      }

      core-icon {
        margin-right: 0.5em;
      }

      core-icon.attribute {
        margin-left: 10px;
      }

      .form {
        background-color: #EDEDED;
      }
      paper-menu-button {
        margin: 12px;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      paper-button {
        color: #4285f4;
      }

      .field-type {
        margin-left: 10px;
        width: 150px;
      }
      .field-remove {
        width: 40px;
      }

      paper-checkbox {
        padding-top: 15px;
      }

      .fields {
        padding: 20px;
        padding-bottom: 0;
        min-width: 500px;
      }

      paper-input::shadow paper-input-decorator{
        padding-top: 0;
        margin-top: 0;
      }

      .add {
        color: #5CC0A2;
      }
      .remove {
        color: #FF6666;
      }
      th {
        text-align: left;
      }

      h2 {
        font-size: 1.6em;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      table {
        border-spacing:0; /* Removes the cell spacing via CSS */
      }

      tr.attribute { 
        background-color: #DDDDDD;
      }

      paper-icon-button {
        width: 24px;
        height: 24px;
      }

    </style>

    <div vertical layout>
      <div class="header" horizontal layout>
        <div vertical layout flex class="title">
          <h2>Create a Channel</h2>
        </div>
        <div class="buttons" vertical layout>
          <paper-icon-button id="close" icon="close" on-tap="{{cancel}}"></paper-icon-button>
        </div>
      </div>
      <div class="content" vertical layout>
        <paper-input id="channel_name" floating label="Enter a channel name..."></paper-input>
        <paper-radio-group id="channel_access" selected="public">
          <paper-radio-button name="public" label="Public"></paper-radio-button>
          <paper-radio-button name="private" label="Private"></paper-radio-button>
        </paper-radio-group>

        <h2>Form</h2>
        <div class="form">
          <table id="fields" class="fields" style="width:100%">
            <tr>
              <th class="field-type">Type</th>
              <th class="field-label">Label</th> 
              <th class="field-required">Required</th>
              <th class="field-remove"></th>
            </tr>
            <tr>
              <td><core-icon icon="text-format"></core-icon>Text</td>
              <td><paper-input value="Title" disabled></td> 
              <td horizontal center-justified layout><paper-checkbox checked disabled></paper-checkbox></td>
              <td></td>
            </tr>
            <template repeat="{{field, fieldIndex in fields}}">
              <tr>
                <td><core-icon icon="{{field.icon}}"></core-icon>{{field.type}}</td>
                <td><paper-input label="Enter a title..." value="{{field.value}}"></td> 
                <td horizontal center-justified layout><paper-checkbox checked="{{field.required}}"></paper-checkbox></td>
                <td><paper-icon-button class="remove" icon="close" on-tap="{{removeField}}"></paper-icon-button></td>
              </tr>

              <template repeat="{{attribute, attributeIndex in field.attributes}}">
                <tr class="attribute">
                  <td><core-icon class="attribute" icon="{{field.icon}}"></core-icon>{{field.attributeType}}</td>
                  <td><paper-input label="Enter a label..." value="{{attribute.value}}"></td> 
                  <td horizontal center-justified layout><paper-checkbox disabled checked="{{field.required}}"></paper-checkbox></td>
                  <td><paper-icon-button class="remove" icon="close" on-tap="{{removeFieldAttribute}}"></paper-icon-button></td>
                </tr>
              </template>

              <tr class="attribute" hidden?="{{!field.attributes}}">
                <td><paper-icon-button class="add" icon="add" on-tap="{{addFieldAttribute}}"></paper-icon-button></td>
                <td></td> 
                <td></td>
                <td></td>
              </tr>
            </template>
          </table>
          <paper-menu-button>
            <paper-icon-button class="add" icon="add"></paper-icon-button>
            <paper-dropdown class="dropdown">
              <div class="menu">
                <paper-item on-tap="{{addText}}"><core-icon icon="text-format"></core-icon>Text</paper-item>
                <paper-item on-tap="{{addImage}}"><core-icon icon="image:photo-camera"></core-icon>Image</paper-item>
                <paper-item on-tap="{{addAudio}}"><core-icon icon="av:mic"></core-icon>Audio</paper-item>
                <paper-item on-tap="{{addVideo}}"><core-icon icon="av:videocam"></core-icon>Video</paper-item>
                <paper-item on-tap="{{addCheckboxes}}"><core-icon icon="check-box"></core-icon>Checkboxes</paper-item>
                <paper-item on-tap="{{addRadioButtons}}"><core-icon icon="radio-button-on"></core-icon>Radio Buttons</paper-item>
              </div>
            </paper-dropdown>
          </paper-menu-button>
      </div>
    </div>

    <div class="footer" horizontal around-justifed layout>
      <paper-button flex on-tap="{{cancel}}">Cancel</paper-button>
      <paper-button flex on-tap="{{submit}}">Submit</paper-button>
    </div>
    
  </template>


  <script>
  Polymer({

    fields: [],

    addText: function() {
      this.fields.push({type:"Text", icon:"text-format", value:"", required:false});
    },

    addImage: function() {
      this.fields.push({type:"Image", icon:"image:photo-camera", value:"", required:false});
    },

    addAudio: function() {
      this.fields.push({type:"Audio", icon:"av:mic", value:"", required:false});
    },

    addVideo: function() {
      this.fields.push({type:"Video", icon:"av:videocam", value:"", required:false});
    },

    addCheckboxes: function() {
      this.fields.push({type:"Checkboxes", icon:"check-box", value:"", attributes: [{value:""}], attributeType:"Checkbox", required:false});
    },

    addRadioButtons: function() {
      this.fields.push({type:"Radio Buttons", icon:"radio-button-on", value:"", attributes: [{value:""}], attributeType:"Radio Button", required:false});
    },

    removeField: function(event, detail, sender) {
      // console.log(event);
      // console.log(detail);
      // console.log(sender);
      var fieldIndex = sender.templateInstance.model.fieldIndex;
      this.fields.splice(fieldIndex, 1);
    },

    addFieldAttribute: function(event, detail, sender) {
      // console.log(event);
      // console.log(detail);
      // console.log(sender);
      var fieldIndex = sender.templateInstance.model.fieldIndex;
      var attributeIndex = sender.templateInstance.model.attributeIndex;
      this.fields[fieldIndex].attributes.push({value: ""});
    },

    removeFieldAttribute: function(event, detail, sender) {
      // console.log(event);
      // console.log(detail);
      // console.log(sender);
      var fieldIndex = sender.templateInstance.model.fieldIndex;
      var attributeIndex = sender.templateInstance.model.attributeIndex;
      this.fields[fieldIndex].attributes.splice(attributeIndex, 1);
    },

    cancel: function() {
      this.fire('finished');
    },

    submit: function() {

      var channel = {
        name: this.$.channel_name.value, 
        owner: this.user.username, 
        fields: [],
        access: this.$.channel_access.selected
      };

      for(i=0; i<fields.length; i++) {
        channel.fields.push({
          type: this.fields[i].type,
          value: this.fields[i].value,
          attributes: this.fields[i].attributes,
          required: this.fields[i].required
        });
      }

      console.log(channel);

      this.fire('finished');
    }


  });
  </script>
  
</polymer-element>
