<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">

<link rel="import" href="../geosource-channel-creator/geosource-channel-creator.html">
<link rel="import" href="../geosource-channel-settings/geosource-channel-settings.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">

<polymer-element name="geosource-channels" attributes="channelSummaries user">

  <template>

    <style>
      :host {
        display: block;
        position: relative;
        background-color: white;
        width: 100%;
        font-weight: 300;
      }
      paper-input {
        padding-bottom: 10px;
      }
      core-submenu {
        padding: 10px;
      }
      core-submenu::shadow #submenu {
        margin-left: 0px;
      }
/*      core-item.core-selected {
        color: #3C8670;
      }*/
      .unsubscribe_button {
        color: #FF6666;
      }
      .subscribe_button {
        color: #5CC0A2;
      }
      .settings_button {
        color: #636363;
      }
      #subscribed {
        padding: 0;
      }
      .create-channel {
        color: #4285f4;
        font-size: 14px;
      }
      .search {
        padding-left: 15px;
      }

      .channel-info {
        text-align: left;
        margin-right: 30px;
      }
      .channel-owner {
        color: #636363;
        text-transform: uppercase;
        font-size: 14px;
      }

      .channel {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .channel-button {
        text-transform: none;
        color: #888888;
      }

      .channel-unsubscribe {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
      }

      .channel-name {
        color: #000000;
      }

    </style>

    <paper-dialog id="create_dialog" role="dialog" backdrop>
      <geosource-channel-creator on-finished="{{closeChannelCreate}}"></geosource-channel-creator>
    </paper-dialog>

    <paper-dialog id="settings_dialog" role="dialog" backdrop>
      <geosource-channel-settings on-finished="{{closeChannelSettings}}"></geosource-channel-settings>
    </paper-dialog>

    <core-submenu opened active id="core_submenu" icon="settings-remote" label="Channels">

      <div layout horizontal class="channel">
          <paper-button flex toggle class="channel-button" active?="{{allSelected}}" on-tap="{{toggleAll}}">
            <div layout vertical flex class="channel-info">
              <div class="channel-name">All</div>
            </div>
          </paper-button>
      </div> 
      <div layout horizontal class="channel" active?="{{subscribedSelected}}" on-tap="{{toggleSubscribed}}" hidden?="{{!user}}">
          <paper-button flex toggle class="channel-button">
            <div layout vertical flex class="channel-info">
              <div class="channel-name">Subscribed</div>
            </div>
          </paper-button>
      </div> 

      <template repeat="{{channel in subscribedChannels}}">
          <div layout horizontal class="channel">
            <paper-button flex toggle class="channel-button" on-tap="{{toggleChannel}}" active?="{{channel.isSelected}}">
              <div layout vertical flex class="channel-info">
                <div class="channel-name">{{channel.name}}</div>
                <div class="channel-owner">Created by {{channel.owner}}</div>
              </div>
            </paper-button>
            <div class="channel-unsubscribe" horizontal center layout>
              <paper-icon-button icon="settings" 
                class="settings_button" 
                on-tap="{{openChannelSettings}}" 
                hidden?="{{!user.admin && !channel.isOwner && !channel.isModerator && !channel.isViewer && !(channel.isSubscribed && subscribedSelected)}}">
              </paper-icon-button>
              <paper-icon-button icon="close" 
                class="unsubscribe_button" 
                on-tap="{{unsubscribe}}">
              </paper-icon-button>
            </div>
          </div>
      </template>

      <div center horizontal layout class="search">
        <paper-input id="search_input" flex 
          label="Search for channels..."
          on-immediate-value-change="{{searchChannels}}">
        </paper-input>
        <paper-icon-button icon="search"></paper-icon-button> 
      </div>

      <template repeat="{{channel in searchedChannels}}" id="searched_channels">
          <div layout horizontal class="channel">
            <paper-button flex toggle class="channel-button" on-tap="{{toggleChannel}}" active?="{{channel.isSelected}}">
              <div layout vertical flex class="channel-info">
                <div class="channel-name">{{channel.name}}</div>
                <div class="channel-owner">Created by {{channel.owner}}</div>
              </div>
            </paper-button>
            <div class="channel-unsubscribe" horizontal center layout>
              <paper-icon-button icon="settings" 
                class="settings_button" 
                on-tap="{{openChannelSettings}}" 
                hidden?="{{!user || (!user.admin && !channel.isOwner && !channel.isModerator && !channel.isViewer)}}">
              </paper-icon-button>
              <paper-icon-button icon="add" 
                class="subscribe_button" 
                on-tap="{{subscribe}}"
                hidden?="{{!user || channel.isSubscriber}}">
              </paper-icon-button>
              <paper-icon-button icon="close" 
                class="unsubscribe_button" 
                on-tap="{{unsubscribe}}"
                hidden?="{{!user || !channel.isSubscriber}}">
              </paper-icon-button>
            </div>
          </div>
      </template>

      <div horizontal layout center-justified>
       <paper-button class="create-channel" on-tap="{{openChannelCreate}}" flex hidden?="{{!user}}">Create a channel</paper-button>
      </div>

    </core-submenu>
    
  </template>


  <script>
  Polymer({

    user: null,
    channelSummaries: null,

    channels: [],

    subscribedChannels: [],
    searchedChannels: [],
    selectedChannels: [],

    selected: {"name": "All", "owner": null},

    allSelected: true,
    subscribedSelected: false,
    
    channelSummariesChanged: function() {

      console.log("test");

      for(i=0; i<this.channelSummaries.length; i++) {
        this.channels.push({
          "name": this.channelSummaries[i].name,
          "owner": this.channelSummaries[i].owner,
          "isOwner": false,
          "isModerator": false,
          "isViewer": false,
          "isSubscriber": false,
          "isSelected": false
        });

      }

      //in case user information is loaded before channel summaries
      if(this.user) {
        this.userChanged();
      }
    },

    userChanged: function() {

      console.log(this.channels.length);
      console.log(this.user.owner.length);

      for(i=0; i<this.channels.length; i++) {
        for(j=0; j<this.user.owner.length; j++) {
          if(this.user.owner[j].name == this.channels[i].name 
            && this.user.owner[j].owner == this.channels[i].owner) {
            console.log("TEST");
            this.channels[i].isOwner = true;
          }
        }
        for(j=0; j<this.user.moderator.length; j++) {
          if(this.user.moderator[j].name == this.channels[i].name 
            && this.user.moderator[j].owner == this.channels[i].owner) {
            this.channels[i].isModerator = true;
          }
        }
        for(j=0; j<this.user.viewer.length; j++) {
          if(this.user.viewer[j].name == this.channels[i].name 
            && this.user.viewer[j].owner == this.channels[i].owner) {
            this.channels[i].isViewer = true;
          }
        }
        for(j=0; j<this.user.subscriber.length; j++) {
          if(this.user.subscriber[j].name == this.channels[i].name 
            && this.user.subscriber[j].owner == this.channels[i].owner) {
            this.channels[i].isSubscriber = true;
          }
        }
      }

      for(i=0; i<this.channels.length; i++) {
        var channel = this.channels[i];
        if(channel.isSubscriber) {
          this.subscribedChannels.push(channel);
          console.log("ADDED");
        }
      }
    },

    /**
     * Given a set of posts, this returns the subset of those posts which are 
     * applicable whichever channel(s) are selected.
     */
    filterPosts: function(posts) {

      console.log('filtered');
      console.log(this.selectedChannels);

      var includedPosts = [];

      if(this.allSelected) {
        includedPosts = posts.slice(0);
      }
      else {
        for(i=0; i<posts.length; i++) {
          
          var matched = false;

          for(j=0; j<this.subscribedChannels.length && this.subscribedSelected && !matched; j++) {
            if(posts[i].channel.name == this.subscribedChannels[j].name
              && posts[i].channel.owner == this.subscribedChannels[j].owner) {
              includedPosts.push(posts[i]);
              matched = true;
            }
          }
          for(j=0; j<this.selectedChannels.length && !matched; j++) {
            if(posts[i].channel.name == this.selectedChannels[j].name
              && posts[i].channel.owner == this.selectedChannels[j].owner) {
              includedPosts.push(posts[i]);
              matched = true;
            }
          }

        }
      }

      return includedPosts;
    },

    toggleChannel: function(event, detail, sender) {
      var channel = sender.templateInstance.model.channel;
      var index = this.selectedChannels.indexOf(channel);

      if(sender.active) {
        channel.isSelected = true;
        this.selectedChannels.push(channel);
      }
      else {
        channel.isSelected = false;
        var channel = sender.templateInstance.model.channel;
        var index = this.selectedChannels.indexOf(channel);
        this.selectedChannels.splice(index, 1);
      }

      this.fire('filter-change');
    },

    /**
     * Displays all channels which apply to the current text within
     * 'search_input'. A regex is constructed with .* between each character,
     * so in the case where 'birds' is entered, the regex would appear as
     * '^b.*i.*r.*d.*s.*'.
     */
    searchChannels: function() {

      var search = this.$.search_input.value;

      if(search == '') {
        this.searchedChannels = [];
        return;
      }

      var regexString = "^";
      for(i=0; i<search.length; i++) {
        regexString += search[i] + '.*';
      }

      var regex = new RegExp(regexString, 'i');

      console.log(regexString);

      this.searchedChannels = [];
      for(i=0; i<this.channels.length; i++) {
        if(this.channels[i].name.match(regex)) {
          this.searchedChannels.push(this.channels[i]);
        }
      }
    },

    toggleAll: function() {
      this.allSelected = !this.allSelected;
      this.fire('filter-change');
    },

    toggleSubscribed: function() {
      this.subscribedSelected = !this.subscribedSelected;
      this.fire('filter-change');
    },

    /**
     * Unsubscribes from the selected channel.
     */
    unsubscribe: function(event, detail, sender) {
      var channel = sender.templateInstance.model.channel;
      var index = this.subscribedChannels.indexOf(channel);
      this.subscribedChannels.splice(index, 1);
      channel.isSubscriber = false;
    },

    /**
     * Subscribes to the selected channel.
     */
    subscribe: function(event, detail, sender) {
      var channel = sender.templateInstance.model.channel;
      var index = this.subscribedChannels.indexOf(channel);
      if(index == -1) {
        this.subscribedChannels.push(channel);
        channel.isSubscriber = true;
      }
    },

    openChannelCreate: function() {
      this.$.create_dialog.toggle();
    },

    closeChannelCreate: function() {
      this.$.create_dialog.close();
    },

    openChannelSettings: function(event, detail, sender) {
      var settings_dialog = this.$.settings_dialog;
      settings_dialog.toggle();
    },

    closeChannelSettings: function() {
      this.$.settings_dialog.close();
    },

  });
  </script>
  
</polymer-element>
