<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<link rel="import" href="../geosource-globals/geosource-globals.html">
<!-- 
  `<channel-service>` provides an API for a fake service -- 
  _unquote_, the read-only social networking service!

  Provides a very simple API: `channels` returns the list of channels.
  `setFavorite` pretends to persist a user's favorite choice.

  @element channel-service
  @demo 
  @homepage http://www.polymer-project.org/docs/start/tutorial.html
-->
`
<!--
  An array of channel objects, with the following format:

  <table border="0">
    <tr>
      <td><code>uid</code></td>
      <td>Number</td>
      <td>Unique ID for this channel.</td>
    </tr>
     <tr>
      <td><code>username</code></td>
      <td>String</td>
      <td>Poster's username.</td>
    </tr>
    <tr>
      <td><code>avatar</code></td>
      <td>String</td>
      <td>URL for the user's avatar.</td>
    </tr>  
    <tr>
      <td><code>text</code></td>
      <td>String</td>
      <td>Post text.</td>
    </tr>  
    <tr>
      <td><code>favorite</code></td>
      <td>Boolean</td>
      <td>True if the current user favorited this channel.</td>
    </tr>
  </table>
  
  @attribute channels 
  @type Array
  @default []
-->
<polymer-element name="channel-service">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>

    <geosource-globals id="globals"></geosource-globals>

    <core-ajax id="ajax"
      auto
      url="/php/get-channels.php"
      on-core-response="{{channelsLoaded}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="subscribe_ajax"
      url="/php/channel/subscribe.php"
      on-core-response="{{subscribeResponse}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="unsubscribe_ajax"
      url="/php/channel/unsubscribe.php"
      on-core-response="{{unsubscribeResponse}}"
      handleAs="json">
    </core-ajax>

  </template>
  <script>
  Polymer('channel-service', {
    
    channelsLoaded: function() {
      // Make a copy of the loaded data
      console.log("loaded channels", this.$.ajax.response);
      this.$.globals.data.channels = this.$.ajax.response.slice(0).sort(function(a,b) {
        if(a.name > b.name) { return 1; }
        else if(a.name < b.name) { return -1; }
        else { return 0; }
      });
    },

    subscribe: function(channel) {
      this.$.subscribe_ajax.body = {user: this.$.globals.data.user, channelname: channel.name, owner: channel.owner};
      this.$.subscribe_ajax.go();
    },

    subscribeResponse: function() {
      console.log('subscribe response', this.$.subscribe_ajax.response);
      this.fire('subscribe-response', {response: this.$.subscribe_ajax.response}); 
    },

    unsubscribe: function(channel) {
      this.$.unsubscribe_ajax.body = {user: this.$.globals.data.user, channelname: channel.name, owner: channel.owner};
      this.$.unsubscribe_ajax.go();
    },

    unsubscribeResponse: function() {
      console.log('unsubscribe response', this.$.subscribe_ajax.response);
      this.fire('unsubscribe-response', {response: this.$.unsubscribe_ajax.response}); 
    }

  });
  </script>
</polymer-element>
