<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">
<!-- 
  `<post-service>` provides an API for a fake service -- 
  _unquote_, the read-only social networking service!

  Provides a very simple API: `posts` returns the list of posts.
  `setFavorite` pretends to persist a user's favorite choice.

  @element post-service
  @demo 
  @homepage http://www.polymer-project.org/docs/start/tutorial.html
-->
`
<!--
  An array of post objects, with the following format:

  <table border="0">
    <tr>
      <td><code>uid</code></td>
      <td>Number</td>
      <td>Unique ID for this post.</td>
    </tr>
     <tr>
      <td><code>username</code></td>
      <td>String</td>
      <td>Poster's username.</td>
    </tr>
    <tr>
      <td><code>avatar</code></td>
      <td>String</td>
      <td>URL for the user's avatar.</td>
    </tr>  
    <tr>
      <td><code>text</code></td>
      <td>String</td>
      <td>Post text.</td>
    </tr>  
    <tr>
      <td><code>favorite</code></td>
      <td>Boolean</td>
      <td>True if the current user favorited this post.</td>
    </tr>
  </table>
  
  @attribute posts 
  @type Array
  @default []
-->
<polymer-element name="post-service" attributes="post">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>

    <core-ajax id="ajax_get_post"
      url="/api/posts/{{pid}}.json"
      on-core-response="{{postLoaded}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="ajax_favorite"
      url="/php/post/favorite.php"
      on-core-response="{{favoriteResponse}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="ajax_unfavorite"
      url="/php/post/unfavorite.php"
      on-core-response="{{unfavoriteResponse}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="ajax_create_comment"
      url="/php/post/create-comment.php"
      on-core-response="{{createCommentResponse}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="ajax_delete_comment"
      url="/php/post/delete-comment.php"
      on-core-response="{{deleteCommentResponse}}"
      handleAs="json">
    </core-ajax>

    <core-ajax id="ajax_delete_post"
      url="/php/post/delete-post.php"
      on-core-response="{{deletePostResponse}}"
      handleAs="json">
    </core-ajax>

  </template>
  <script>
  Polymer('post-service', {

    load: function(pid) {
      this.pid = pid;
      this.$.ajax_get_post.go();
    },
    postLoaded: function() {
      this.post = this.$.ajax_get_post.response;
    },

    favorite: function(channel, pid) {
      body = {
        username: this.$.globals.user.username,
        channelname: channel.name,
        channelowner: channel.owner,
        pid: pid
      };
      this.$.ajax_favorite.body = body;
      this.$.ajax_favorite.go();
    },
    favoriteResponse: function() {
      this.fire('favorite-response', {response: this.$.ajax_favorite.response});
    },

    unfavorite: function(channel, pid) {
      body = {
        username: this.$.globals.user.username,
        channelname: channel.name,
        channelowner: channel.owner,
        pid: pid
      };
      this.$.ajax_unfavorite.body = body;
      this.$.ajax_unfavorite.go();
    },
    unfavoriteResponse: function() {
      this.fire('unfavorite-response', {response: this.$.ajax_unfavorite.response});
    },

    createComment: function(channel, pid, comment) {
      body = {
        //todo
      };
      this.$.ajax_create_comment.body = body;
      this.$.ajax_create_comment.go();
    },
    createCommentResponse: function() {
      this.fire('create-comment-response', {response: this.$.ajax_create_comment.response});
    },

    deleteComment: function(channel, pid, user, time) {
      body = {
        //todo
      };
      this.$.ajax_delete_comment.body = body;
      this.$.ajax_delete_comment.go();
    },
    deleteCommentResponse: function() {
      this.fire('delete-comment-response', {response: this.$.ajax_delete_comment.response});
    }

    deletePost: function(channel, pid) {
      body = {
        //todo
      };
      this.$.ajax_delete_post.body = body;
      this.$.ajax_delete_post.go();
    },
    deleteCommentResponse: function() {
      this.fire('delete-post-response', {response: this.$.ajax_delete_post.response});
    }

  });
  </script>
</polymer-element>
