<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<polymer-element name="user-creation-service" attributes="response">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
    <core-ajax id="ajax"
      method="POST"
      url="../phpoly/dbsetusername.php"
      on-core-response="{{handleResponse}}"
      body='{"gid": "{{gid}}", "username": "{{username}}"}'
      handleAs="json">
    </core-ajax>
  </template>
  <script>
  Polymer('user-creation-service', {

    gid: null,
    username: null,

    handleResponse: function() {
      // Make a copy of the loaded data
      console.log("response");
      this.response = this.$.ajax.response;
      console.log(this.reponse);
      this.fire('user-creation-response');
    },

    submit: function(gid, username) {
      console.log("submitting name");
      this.gid = gid;
      this.username = username;
      console.log(this.username);
      console.log(this.gid);
      this.$.ajax.go();
      console.log("submitted");
    }
  });
  </script>
</polymer-element>

