<!doctype html>

<link rel="import" href="../../components/polymer/polymer.html">
<link rel="import" href="../../components/core-ajax/core-ajax.html">

<polymer-element name="phpoly-main">

    <template>
        <style>
        :host {
          display: none;
        }
        </style>
        <core-ajax id="ajax"
        auto
        url="http://localhost:4567/components/phpoly/dbtest.php"
        on-core-response="{{categoriesLoaded}}"
        handleAs="json">
        </core-ajax>
    </template>



    
    <script>
        Polymer(
        {
            created: function()
            {
                this.categories = [];
            },

            categoriesLoaded: function()
            {
                this.categories = this.$.ajax.response.slice(0);
                console.log(this.categories);
            }
        });
    </script>
</polymer-element>



