<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-dropdown/paper-dropdown.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-icons/core-icons.html" >
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<link rel="import" href="../core-icons/image-icons.html">
<link rel="import" href="../core-icons/av-icons.html">

<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">

<link rel="import" href="../geosource-services/channel-settings-service.html">

<link rel="import" href="../geosource-globals/geosource-globals.html">

<polymer-element name="geosource-channel-settings" attributes="channel">


  <template>

    <style>

      .settings {
        overflow-x: auto;
        max-width: 600px;
      }

      .content {
        padding: 20px;
      }

      core-icon {
        margin-right: 0.5em;
      }
      .user-list {
        background-color: #EDEDED;
        padding: 15px;
        padding-top: 25px;
      }
      paper-icon-button {
        margin-top: 0px;
      }

      paper-button {
        color: #FF6666;
      }

      .field-type {
        margin-left: 10px;
        width: 140px;
      }
      .field-remove {
        width: 40px;
      }

      paper-checkbox {
        padding-top: 15px;
      }

      .fields {
        padding: 20px;
        padding-bottom: 0;
      }

      paper-input::shadow paper-input-decorator{
        padding-top: 0;
        margin-top: 0;
      }

      .buttons {
        padding: 10px;
        color: #FFF;
      }

      .header {
        margin: 0;
        font-size: 1.8em;
        color: #000000;
        background-color: #5CC0A2;
        /*position: fixed;*/
      }

      .title {
        padding: 20px;
      }

      .info {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        padding-top: 10px;
      }

      .add {
        
      }
      .remove {
        color: #FF6666;
      }
      th {
        text-align: left;
      }

      h2 {
        color: #FFF;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.3em;
      }

      h3 {
        margin-bottom: 0;
      }


      .add-user {
        margin-left: 15px;
        margin-bottom: 5px;
      }
      .add-button {
        margin-left: 15px;
        color: #5CC0A2;
      }
      .user {
        margin-left: 15px;
      }

      :host([publiclyVisible]) #viewer_user_list {
        display: none;
      }

    </style>

    <geosource-globals id="globals"></geosource-globals>

    <channel-settings-service id="service" channelSettings="{{channelSettings}}"></channel-settings-service>

    <div class="settings" vertical layout>
      <div class="header" horizontal layout>
        <div vertical layout flex class="title">
          <h2>{{channelSettings.name}} Settings</h2>
          <div class="info">Owned by {{channelSettings.owner}}</div>
        </div>
        <div class="buttons" vertical layout>
          <paper-icon-button id="close" icon="close" on-tap="{{close}}"></paper-icon-button>
        </div>
      </div>
      <div class="content" vertical layout>
        <paper-radio-group selected="{{channelSettings.access}}">
          <paper-radio-button name="public" id="public" label="Public" disabled?="{{!$.globals.data.user || (!$.globals.data.user.admin && channel.owner != $.globals.data.user.username)}}"></paper-radio-button>
          <paper-radio-button name="private" label="Private" disabled?="{{!$.globals.data.user || (!$.globals.data.user.admin && channel.owner != $.globals.data.user.username)}}"></paper-radio-button>
        </paper-radio-group>

        <h3>Moderators</h3>
        <div class="user-list">
          <template repeat="{{user in channelSettings.moderators}}">
            <div class="user" horizontal layout center>
              <div flex>{{user}}</div>
              <td><paper-icon-button class="remove" icon="close" on-tap="{{removeModerator}}"></paper-icon-button></td>
            </div>
          </template>
          <div horizontal layout center class="add-user" hidden?="{{!$.globals.data.user || (!$.globals.data.user.admin && channel.owner != $.globals.data.user.username)}}">
            <paper-input label="Enter a username..." flex id="moderator_input"></paper-input>
            <paper-icon-button class="add-button" icon="add" on-tap="{{addModerator}}"></paper-icon-button>
          </div>
        </div>

        <h3>Viewers</h3>
        <div class="user-list" id="viewer_user_list">
          <template repeat="{{user in channelSettings.viewers}}">
            <div class="user" horizontal layout center>
              <div flex>{{user}}</div>
              <td><paper-icon-button class="remove" icon="close" on-tap="{{removeViewer}}"></paper-icon-button></td>
            </div>
          </template>
          <div horizontal layout center class="add-$.globals.data.user" hidden?="{{!$.globals.data.user || (!$.globals.data.user.admin && !isModerator)}}">
            <paper-input label="Enter a username..." flex id="viewer_input"></paper-input>
            <paper-icon-button class="add-button" icon="add" on-tap="{{addViewer}}"></paper-icon-button>
          </div>
        </div>

        <h3>Banned</h3>
        <div class="user-list">
          <template repeat="{{user in channelSettings.banned}}">
            <div class="user" horizontal layout center>
              <div flex>{{user}}</div>
              <td><paper-icon-button class="remove" icon="close" on-tap="{{removeBan}}"></paper-icon-button></td>
            </div>
          </template>
          <div horizontal layout center class="add-$.globals.data.user" hidden?="{{!$.globals.data.user || (!$.globals.data.user.admin && !isModerator)}}">
            <paper-input label="Enter a username..." flex id="ban_input"></paper-input>
            <paper-icon-button class="add-button" icon="add" on-tap="{{addBan}}"></paper-icon-button>
          </div>
        </div>

      </div>

      <div class="footer" horizontal around-justifed layout>
        <paper-button flex on-tap="{{deleteChannel}}">Delete Channel</paper-button>
      </div>

    </div>
    
  </template>


  <script>
  Polymer({

    visibility: null,

    isViewer: false,
    isModerator: false,

    moderators: null,
    viewers: null,
    banned: null,

    load: function(channel) {
      this.$.service.load(channel);
    },

    addBan: function() {
      if(this.$.ban_input.value != "") {
        this.channelSettings.banned.push(this.$.ban_input.value);
      }
      this.$.ban_input.value = "";
    },

    addViewer: function() {
      if(this.$.viewer_input.value != "") {
        this.channelSettings.viewers.push(this.$.viewer_input.value);
      }
      this.$.viewer_input.value = "";
    },

    addModerator: function() {
      if(this.$.moderator_input.value != "") {
        this.channelSettings.moderators.push(this.$.moderator_input.value);
      }
      this.$.moderator_input.value = "";
    },

    removeBan: function(event, detail, sender) {
      var user = sender.templateInstance.model.user;
      var index = this.channelSettings.banned.indexOf(user);
      if(index > -1) {
        this.channelSettings.banned.splice(index, 1);
      }
    },

    removeViewer: function(event, detail, sender) {
      var user = sender.templateInstance.model.user;
      var index = this.channelSettings.viewers.indexOf(user);
      if(index > -1) {
        this.channelSettings.viewers.splice(index, 1);
      }
    },

    removeModerator: function(event, detail, sender) {
      var user = sender.templateInstance.model.user;
      var index = this.channelSettings.moderators.indexOf(user);
      if(index > -1) {
        this.channelSettings.moderators.splice(index, 1);
      }
    },

    deleteChannel: function() {
      this.fire('finished');
    },

    close: function() {
      this.fire('finished');
    }

  });
  </script>
  
</polymer-element>
