<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-item/core-item.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-dropdown/paper-dropdown.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../core-icon/core-icon.html" >
<link rel="import" href="../core-icons/core-icons.html" >
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<link rel="import" href="../core-icons/image-icons.html">
<link rel="import" href="../core-icons/av-icons.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../geosource-services/post-service.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-input/paper-input-decorator.html">
<link rel="import" href="../paper-input/paper-autogrow-textarea.html">

<link rel="import" href="../geosource-globals/geosource-globals.html">

<!-- <link rel="import" href="../disqus-comments/disqus-comments.html"> -->

<polymer-element name="geosource-post">

  <template>

    <style>

      h2 {
        color: #FFF;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.3em;
      }

      h3 {
        margin-bottom: 0;
      }

      :host {
        display: block;
        position: relative;
        background-color: white;
        width: 100%;
        font-weight: 300;
      }

      .post {
        overflow-x: auto;
        max-width: 600px;
      }

      .buttons {
        padding: 10px;
        color: #FFF;
      }

      .header {
        margin: 0;
        font-size: 1.8em;
        color: #000000;
        background-color: #5CC0A2;
        /*position: fixed;*/
      }

      .title {
        padding: 20px;
      }

      .info {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        padding-top: 10px;
      }

      .content {
        margin: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }

      video {
        background-color: #000000;
        width: auto;
        height: auto;
      }

      audio {
        width: auto;
      }

      img {
        width: 100%;
        height: auto;
      }

      .checkbox {
        padding: 20px;
        padding-left: 0;
        padding-bottom: 0;
      }

      .checkbox-label {
        padding-left: 15px;
      }

      .comments {
        margin:20px;
        margin-top: 0;
      }

      .comment {
        background-color: #F0F0F0;
        margin-top: 20px;
      }

      .comment-header {
        padding-right: 10px;
      }

      .comment-info {
        padding:20px;
        padding-right: 10px;
      }

      .comment-text {
        margin: 20px;
        margin-top: 0;
      }

      #comment-delete {
        width: 24px;
        height: 24px;
        color: #636363;
      }

    </style>

    <geosource-globals id="globals"></geosource-globals>

    <post-service id="post_service" post="{{post}}"></post-service>

    <div class="post" vertical layout>
      <div class="header" horizontal layout>
        <div vertical layout flex class="title">
          <h2>{{post.title}}</h2>
          <div class="info">posted by {{post.username}} {{timeString(post.time)}} to {{post.channel.name}}</div>
        </div>
        <div class="buttons" vertical layout>
          <paper-icon-button id="close" icon="close" on-tap="{{close}}"></paper-icon-button>
          <paper-icon-button id="favorite" icon="{{ {'favorite-outline': !postSummary.favorite, 'favorite': postSummary.favorite} | tokenList}}" on-tap="{{favorite}}" hidden?="{{!$.globals.data.user}}"></paper-icon-button>
          <paper-icon-button id="delete" icon="delete" on-tap="{{delete}}" hidden?="{{!deletePermission}}"></paper-icon-button>
        </div>
      </div>
      
      <div class="content" id="content" vertical layout>
        <template repeat="{{field in post.fields}}">
          <h3>{{field.label}}</h3>
          <template if="{{field.type == 'Video'}}">
            <video width="auto" height="auto" controls>
              <source src="{{field.value}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </template>
          <template if="{{field.type == 'Audio'}}">
            <audio controls>
              <source src="{{field.value}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </template>
          <template if="{{field.type == 'Image'}}">
            <img src="{{field.value}}">
          </template>
          <template if="{{field.type == 'Text'}}">
            <div>{{field.value}}</div>
          </template>
          <template if="{{field.type == 'Checkbox'}}">
            <template repeat="{{attribute in field.attributes}}">
              <div class="checkbox" horizontal layout>
                <paper-checkbox checked?="{{attribute.value}}" disabled></paper-checkbox>
                <div class="checkbox-label">{{attribute.label}}</div>
              </div>
            </template>
          </template>
          <template if="{{field.type == 'Radio Button'}}">
            <template repeat="{{attribute in field.attributes}}">
              <div class="checkbox" horizontal layout>
                <paper-radio-button checked?="{{attribute.value}}" disabled></paper-radio-button>
                <div class="checkbox-label">{{attribute.label}}</div>
              </div>
            </template>
          </template>
        </template>
      </div>
      
<!--       <disqus-comments 
        id="disqus"
        shortname="hoopsnake-geosource" 
        identifier="{{post.pid + 'removethis'}}" 
        url="{{'http://www.okenso.com/#!/post/' + post.pid + 'removethis'}}"
        title="{{post.title}}">
      </disqus-comments> -->
      <div class="comments" vertical layout>
        
        <h3>Comments ({{post.comments.length}})</h3>
        <template repeat="{{comment in post.comments}}">
          <div class="comment">
            <div class="comment-header" horizontal layout center>
              <div class="comment-info" horizontal layout flex>
                <div class="comment-username" flex><b>{{comment.username}}</b></div>
                <div class="comment-time">{{timeString(comment.time)}}</div>
              </div>
              <paper-icon-button id="comment-delete" icon="delete" hidden="{{!deletePermission}}"></paper-icon-button>
            </div>
            <div class="comment-text">{{comment.text}}</div>
          </div>
        </template>

        <div hidden?="{{!$.globals.data.user}}">
          <h3>Add a Comment</h3>
          <div class="add-creator" vertical end-justified layout>
            <paper-input-decorator label="Enter a comment...">
              <paper-autogrow-textarea>
                <textarea></textarea>
              </paper-autogrow-textarea>
            </paper-input-decorator>
            <paper-button>Submit</paper-button>
          </div>
        </div>
      </div>

    </div>

  </template>


  <script>
  Polymer({

    postSummary: null,
    post: null,
    deletePermission: false,

    timeString: function(time) {
      return moment(time).fromNow();
    },

    load: function(postSummary) {
      this.postSummary = postSummary;
      console.log(this.postSummary);
      this.$.post_service.load(postSummary.pid);
    },

    postChanged: function() {
      this.checkDeletePermission();
      this.fire('post-loaded');
    },

    close: function() {
      this.fire('close');
    },

    favorite: function() {
      this.postSummary.favorite = !this.postSummary.favorite;
      this.fire('favorite-click');
    },

    userChanged: function() {
      this.checkDeletePermission();
    },

    delete: function() {

    },

    checkDeletePermission: function() {

      var user = this.$.globals.data.user;

      if(user && this.post) {
        //admin
        if(user.admin) {
          this.deletePermission = true;
          return;
        }
        //channel owner
        else if(user.username == this.post.channel.owner) {
          this.deletePermission = true;
          return;
        }
        // //post/comment creator
        // else if(this.user.username == creator) {
        //   this.deletePermissions = true;
        //   return;
        // }
        //moderator
        else {
          for(i=0; i<user.moderator.length; i++) {
            if(user.moderator[i].name == this.post.channel.name &&
                user.moderator[i].owner == this.post.channel.owner) {
              this.deletePermissions = true;
              return;
            }
          }
        }
      }
      this.deletePermission = false;
    }


  });
  </script>
  
</polymer-element>
