<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="../paper-input/paper-input-decorator.html">

<polymer-element name="geosource-time">

  <template>
    
    <style>
      :host {
        display: block;
        position: relative;
        background-color: white;
        width: 100%;
        font-weight: 300;
      }
      .toggle_label {
        margin: 15px;
        margin-left: 0;
      }
      core-submenu {
        padding: 10px;
      }
      core-submenu::shadow #submenu {
        margin-left: 0px;
      }
      paper-input-decorator {
        margin-left: 15px;
        width: calc(100% - 30px)
      }
      paper-slider {
        width: 100%;
      }
    </style>

    <core-submenu opened active id="core_submenu" icon="schedule" label="Time">
        <paper-input-decorator id="start_slider_decorator" 
          floatingLabel label="Start Date (YYYY/MM/DD)" 
          value=" " 
          on-change="{{start_inputChange}}"
          isInvalid="{{!$.start_input.validity.valid}}"
          error="Invalid date!">
            <input id="start_input" is="core-input" pattern="^[0-9]{4}\/[0-9]{1,2}\/[0-9]{1,2}" on-input="{{endInputChange}}">
        </paper-input-decorator>
        <paper-slider id="start_slider" 
          min="{{minValue}}" 
          max="{{maxValue}}"
          on-immediate-value-change="{{startSliderChange}}">
        </paper-slider>
       
        <paper-input-decorator id="end_slider_decorator" 
          floatingLabel label="End Date (YYYY/MM/DD)" 
          value=" "
          on-change="{{endInputChange}}"
          isInvalid="{{!$.end_input.validity.valid}}"
          error="Invalid date!">
            <input id="end_input" is="core-input" pattern="^[0-9]{4}\/[0-9]{1,2}\/[0-9]{1,2}" on-input="{{endInputChange}}">
        </paper-input-decorator>
        <paper-slider decorator id="end_slider" 
          error="Invalid date!"
          min="{{minValue}}" 
          max="{{maxValue}}"
          on-immediate-value-change="{{endSliderChange}}">
        </paper-slider>
    </core-submenu>

  </template>

  <script type="text/javascript" src="../moment/moment.js"></script>
  <script>
    Polymer({

      baseDate: moment("2015/01/01", 'YYYY/MM/DD'),
      currentDate: moment(),

      startDate: null,
      endDate: null,

      startString: null,
      endString: null,

      minValue: 0,
      maxValue: null,

      ready: function() {
        this.maxValue = this.currentDate.diff(this.baseDate, "days");
       
        this.$.start_slider.value = 0;
        this.$.end_slider.value = this.maxValue;

        this.$.start_input.value =  this.baseDate.format('YYYY/MM/DD');
        this.$.end_input.value = this.currentDate.format('YYYY/MM/DD');
      },

      startInputChange: function() {
        this.$.start_input.value.trim();
        this.startDate = moment(this.$.start_input.value, 'YYYY/MM/DD');
        this.$.start_slider.value = this.startDate.diff(this.baseDate, "days");
      },

      endInputChange: function() {
        this.endDate = moment(this.$.end_input.value, 'YYYY/MM/DD');
        this.$.end_slider.value = this.endDate.diff(this.baseDate, "days");
      },

      startSliderChange: function() {
        this.startDate = this.baseDate.clone().add(this.$.start_slider.immediateValue, 'days');
        this.$.start_input.value = this.startDate.format('YYYY/MM/DD');
        this.$.start_slider_decorator.isInvalid = false;
        this.fire('filter-change');
      },

      endSliderChange: function() {
        this.endDate = this.baseDate.clone().add(this.$.end_slider.immediateValue, 'days');
        this.endDate.endOf('day');
        console.log(this.endDate.isValid());
        if(this.endDate.isValid()) {
          this.$.end_input.value = this.endDate.format('YYYY/MM/DD');
        }
        this.$.end_slider_decorator.isInvalid = false;
        this.fire('filter-change');
      },



      isValidStartDate: function(string) {
        if(string != /^\w*[0-9]{4}\/[0-9]{1,2}\/[0-9]{1,2}\w*$/) {
          this.startDateError = "Invalid format";
          return false;
        }
        else if(!moment(string, 'YYYY/MM/DD').isValid()) {
          this.startDateError = "Invalid date"
          return false;
        }
        else if(true) {
          return false;
        }
        else {
          return true;
        }
      },


      filterPosts: function(posts) {
        var filteredPosts = [];
        for(i=0; i<posts.length; i++) {
          if(moment.utc(posts[i].time).isBetween(this.startDate, this.endDate)) {
            filteredPosts.push(posts[i]);
          }
        }
        return filteredPosts;
      },


    });
  </script>

</polymer-element>
